@use '../components/var' as *;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');

* {
  font-family: EB Garamond;
}

body {
  margin: 0;
  background-color: $o-color;
  -webkit-user-select: none;
  /* Safari */
  user-select: none;
}

// ::-webkit-scrollbar {
//   display: none;
// }

.noscroll {
  overflow: auto;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}