@use '../var' as *;


.header-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: $o-color;
    padding: 1rem 0;
}

.navbar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-container>h1 {
    color: $s-color;
    font-size: 1.5em;
    margin: 0;
}

.navbar-link-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 25em;
    height: auto;
}

.navbar-link-container>li>a,
.navbar-link-container>li>a:visited,
.navbar-icon-container>a {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $s-color;
    text-decoration: none;
}

.navbar-link-container>li>a:hover {
    font-style: italic;
}

.navbar-icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    width: clamp(5em, 10vw, 8em);
}

.navbar-icon {
    color: $s-color;
    width: 1.5em !important;
    height: auto !important;
}



@media only screen and (max-width: 860px) {
    .header-container {
        padding: 1rem 0;
    }

    .navbar-link-container {
        display: none;
    }

    .navbar-icon-container {
        justify-content: space-between;
        width: 8em;
    }

}