@use '../var' as *;


.header-container {
    position: sticky;
    width: 100vw;
    z-index: 1000;
}

.navbar-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: $o-color;
}

.navbar-container>h1 {
    color: $s-color;
}

.navbar-link-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 1vh;
    width: 55vw;
    height: auto;
}

.navbar-link-container>li>a,
.navbar-link-container>li>a:visited {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $s-color;
    text-decoration: none;
}

.navbar-icon {
    display: none !important;
    color: $s-color;
    width: clamp(2rem, 9vw, 5rem) !important;
    height: auto !important;
    /* font-size: clamp(2rem, 2.5rem, 3rem) !important; */
}

@media only screen and (max-width: 600px) {
    .header-container {
        position: fixed;
        bottom: 0;
    }

    .navbar-icon {
        display: block !important;
    }
}