@use '../var' as *;

.hero-container {
    width: 100%;
}

// .hero-text-container {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
// }

.hero-img-carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-img-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    /* Ensure the background image covers the container */
    background-position: center;
    /* Center the background image */
}

.hidden {
    transition: 0.25s;
    display: none;
}


.hero-welcome-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    z-index: 2;
    position: absolute;
}

.hero-welcome-container>h1 {
    color: $o-color;
    margin: 0;
    font-size: clamp(3em, 10vw, 5em);
}

.hero-welcome-container>h2 {
    color: $o-color;
    margin: 0;
    font-size: clamp(1.5em, 5vw, 2em);
}

.hero-welcome-container>h3 {
    color: $o-color;
    margin: 0;
    font-size: clamp(1em, 5vw, 2em);
}