@use '../var' as *;

.hero-container {
    width: 100%;
}

.hero-img-carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-img-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.hidden {
    transition: 0.25s;
    display: none;
}


.hero-welcome-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    z-index: 2;
    position: absolute;
}

.hero-welcome-container>h1 {
    color: $o-color;
    margin: 0;
    font-size: clamp(3em, 10vw, 5em);
}

.hero-welcome-container>h2 {
    color: $o-color;
    margin: 0;
    font-size: clamp(1.5em, 5vw, 2em);
}

.hero-welcome-container>h3 {
    color: $o-color;
    margin: 0;
    font-size: clamp(1em, 5vw, 2em);
}

.hero-quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    position: absolute;
    top: 90%;
}

.hero-quote-container>blockquote {
    margin: 0;
    text-align: center;

}

.hero-quote-container>blockquote>h1 {
    color: $o-color;
    font-size: clamp(2em, 4vw, 4em);
    margin: initial;
}

.hero-quote-container>blockquote>footer {
    color: $o-color;
    text-align: right;
    margin: initial;
}

.hero-logo {
    width: clamp(2.5em, 40vw, 15em);
    height: auto;
}