@use '../var' as *;

.menu-container {
    border: 1px solid black;
    background-color: $p-color;
    border-radius: 12em 12em 0 0;
    margin: 0 auto;
    text-align: center;
}

.menu-tag {
    font-size: clamp(2rem, 9vw, 5rem);
    margin: 0;
}

.menu-cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-cards-container {
    display: flex;
    width: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}


// @media only screen and (max-width: 860px) {
//     .menu-cards-container {
//         justify-content: center;
//     }
// }